{% extends 'basetemplate.html' %}
{% load static %}
{% block content %}
<div id="products-list">
        {% for product in products %}
                <div class="product-container">
                        <img src="{{ product.product_info.image.url }}" alt="">
                        <strong><p>{{ product.name }}</p></strong><br>
                        <p>{{ product.product_info.description }}</p><br>
                        <p>{{ product.price_of_quantity }},-</p><br>
                        <p>Antall {{ product.quantity }}</p>
                </div>
        {% endfor %}
</div>
{% endblock %}
