{% extends 'basetemplate.html' %}
{% load static %}
{% block content %}
<div id="products-list">
        <div class="product-container">
            <a href="{% url 'get_product_info' pk=product.pk %}">
                <img src="{{ product.image.url }}" alt="">
                <strong><p>{{ product.name }}</p></strong><br>
                <p>{{ product.description }}</p><br>
                <p>{{ product.price }},-</p><br>
            </a>
        </div>
        <div>
            <form method="post" action="{% url 'add_to_cart' pk=product.pk %}">
                {% csrf_token %}
                <button>Legg i handlekurven</button>
            </form>
        </div>
</div>
{% endblock %}
