{% extends 'basetemplate.html' %}
{% load static %}
{% block content %}
<div id="products-list">
    <div class="product-container">
        <img class="image" src="{% static 'images/t-skjorte.jpg' %}">
        <hr>
        <p>Sort t-skjorte</p>
        <h6>499</h6>
    </div>
    <div class="product-container">
        <img class="image" src="{% static 'images/t-skjorte.jpg' %}">
        <hr>
        <p>Sort t-skjorte</p>
        <h6>499</h6>
    </div>
    <div class="product-container">
        <img class="image" src="{% static 'images/t-skjorte.jpg' %}">
        <hr>
        <p>Sort t-skjorte</p>
        <h6>499</h6>
    </div>
    <div class="product-container">
        <img class="image" src="{% static 'images/t-skjorte.jpg' %}">
        <hr>
        <p>Sort t-skjorte</p>
        <h6>499</h6>
    </div>
    <div class="product-container">
        <img class="image" src="{% static 'images/t-skjorte.jpg' %}">
        <hr>
        <p>Sort t-skjorte</p>
        <h6>499</h6>
    </div>
</div>
{% endblock %}
