* {
    margin: 0;
    padding: 0;
}

#navbar a{
    padding-left: 5vw;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: black;
}

.product-container img{
    min-height: 30vh;
    min-width: 16vw;
    max-height: 30vh;
    max-width: 16vw;
    display: block;
}

.product-container{
    margin-top: 5vh;
    min-height: 30vh;
    max-height: 30vh;
    min-width: 16vw;
    max-width: 16vw;
    display: flex;
    align-items: start;
    flex-flow: column;
}

.product-container p {
    margin-left: 0.2vw;
}

#products-list{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center; /* horizontally center the product containers */
    width: 90vw;
    margin-left: 5vw;
    gap: 1rem;
}

#navbar {
    height: 5vh;
    background-color: rgb(95, 95, 95);
    justify-content: flex-end;
    width: 100vw;
    display: flex;
    align-items: center;
}