* {
    margin: 0;
    padding: 0;
}

#navbar a{
    padding-left: 5vw;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: black;
}

.product-container img{
    min-height: 60vh;
    min-width: 18vw;
    max-height: 60vh;
    max-width: 18vw;
    display: block;
}

.product-container{
    margin-top: 5vh;
    min-height: 70vh;
    max-height: 70vh;
    min-width: 18vw;
    max-width: 18vw;
    display: flex;
    align-items: start;
    flex-flow: column;
}

.product-container p {
    margin-left: 0.2vw;
}

#products-list{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center; /* horizontally center the product containers */
    width: 90vw;
    margin-left: 5vw;
    gap: 1rem;
}

#navbar {
    height: 50px;
    background-color: rgb(95, 95, 95);
    justify-content: flex-end;
    width: 100vw;
    display: flex;
    align-items: center;
}

.cart_image {
    width: 50px;
    height: 50px;
}

#click-and-collect-button {
    background-color: rgb(70, 0, 0);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#order-price-text-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#center-content-horizontally {
    width: 100vw;
    text-align: center;
}